p{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: justify;
}
#b1{
    height: 150px;
    cursor: pointer;
    
}
#b2{
    height: 150px;
    cursor: pointer;
}
#b3{
    height: 150px;
    cursor: pointer;
}
#b4{
    height: 150px;
    cursor: pointer;
}
#b5{
    height: 150px;
    cursor: pointer;
}
#b6{
    height: 150px;
    cursor: pointer;
}
#b7{
    height: 150px;
    cursor: pointer;
}
#b8{
    
    cursor: pointer;
}