<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Materialize</title>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">


</head>

<body>

<div id="titulo" class="card-panel orange white-text text-darken-2 400 z-depth-2 ">

  <i class="material-icons">search</i>
    <h1 class="flow-text">
        DO SAMBA BURGER
    </h1>  
    
</div>
<nav class="blue">
  <div class="nav-wrapper container">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">Produtos</a>
      <a href="#!" class="breadcrumb">Clientes</a>
    </div>
  </div>
</nav>

<div class="imagens container" >
<img id="b8" class="responsive-img hoverable" src="/img/Hero Shot.png"><br>
</div>
<div id="imgS container centered">
  <img id="b1" class="  hoverable" src="/img/Abre Alas.png">
  <img id="b2" class="  hoverable" src="/img/Bossa Nova.png">
  <img id="b3" class="  hoverable" src="/img/Galo Cantor.png">
  <img id="b4" class="  hoverable" src="/img/Gran Bossa Nova.png">
  <img id="b5" class="  hoverable" src="/img/Gran Galo Cantor.png">
  <img id="b6" class="  hoverable" src="/img/Gran Partido Alto.png">

</div>

<div id="SambaVideo" class="video-container" >
    <br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/x-ubqyHLRKE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="0"></iframe>
</div>

<video src=""></video>

<br><br>
<table class="striped centered hide-on-med-and-down">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
  
  <table class="highlight centered  hide-on-med-and-down">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
  
  <table class="centered hide-on-med-and-down">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
  <a class="waves-effect waves-light btn">button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons ">cloud</i>button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

  <div  class="row container">
    <div  class="col s12 m6 l6 green  center-align">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png"> 
    </div>
    <div class="col s12 m6 l6 yellow  center-align">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
        <img id="imgR" class=" responsive-img hoverable" src="/img/Abre Alas.png">
    </div>
   
  </div>

  <div class="center-align red">
    <h2 >Black Friday</h2>
    <h2 >Black Friday</h2>
    <h2 >Black Friday</h2>
    <h2 >Black Friday</h2>
  </div>

  
            

  <div class="carousel fullWidth=true ">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>




  

    <!-- jQuery -->
    <script src="/js/jquery-3.5.1.min.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="/js/materialize.min.js"></script>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

  
</body>

</html>