<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Materialize</title>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
<style>
    p{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: justify;
}
#b1{
    height: 150px;
    cursor: pointer;
    padding: 5px;
    
}
#b2{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b3{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b4{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b5{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b6{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b7{
    height: 150px;
    cursor: pointer;
    padding: 5px;
}
#b8{
    
    cursor: pointer;
  
}

#titulo{
    text-align: center;
}

#imgS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;

}
</style>

 

</head>

<body>

<div id="titulo" class="card-panel orange white-text text-darken-2 400 z-depth-2 ">
    <h1 class="flow-text">
        DO SAMBA BURGER
    </h1>  
</div>

<div class="imagens container" >
<img id="b8" class="responsive-img" src="/img/Hero Shot.png"><br>
</div>
<div id="imgS">
<img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
<img id="b2" class=" responsive-img" src="/img/Bossa Nova.png">
<img id="b3" class=" responsive-img" src="/img/Galo Cantor.png">
<img id="b4" class=" responsive-img" src="/img/Gran Bossa Nova.png">
<img id="b5" class=" responsive-img" src="/img/Gran Galo Cantor.png">
<img id="b6" class=" responsive-img" src="/img/Gran Partido Alto.png">
<img id="b7" class=" responsive-img" src="/img/Gran Samba Miudinho.png">
</div>

<div id="SambaVideo" class="video-container" >
    <br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/x-ubqyHLRKE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="0"></iframe>
</div>

<video src=""></video>

<br><br>
<table class="striped centered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
  
  <table class="highlight centered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
  
  <table class="centered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>

  <div class="row container">
    <div class="col s12 m6 l6 black white-text flow-text">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png"> 
    </div>
    <div class="col s12 m6 l6 yellow flow-text">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
        <img id="b1" class=" responsive-img" src="/img/Abre Alas.png">
    </div>
   
  </div>










    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



  
</body>

</html>